{% if site.data.contact.bank_account %}
<p>Bank transfers may use the following information:</p>

<table class="table">
    <thead class="">
        <tr>
            <th>&nbsp;</th>
            <th scope="col">Bank Transfer Information (UPIC)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Organization:</strong></td>
            <td>{{ site.data.contact.org }}{% if site.data.contact.ein %} (EIN: {{ site.data.contact.ein }}){% endif %}</td>
        </tr> 
        <tr>
            <td><strong>Contact:</strong></td>
            <td>{{ site.data.contact.press_contact }}{% if site.data.contact.press_contact_title %}, {{ site.data.contact.press_contact_title }}{% endif %} (email: {{ site.data.contact.email }} / phone: {{ site.data.contact.phone }})</td>
        </tr>
        <tr>
            <td><strong>Bank:</strong></td>
            <td>PNC Bank</td>
        </tr> 
        <tr>
            <td><strong>Routing number:</strong></td>
            <td>{{ site.data.contact.bank_routing }}</td>
        </tr>
        <tr>
            <td><strong>Account number:</strong></td>
            <td>{{ site.data.contact.bank_account }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
