<!-- donor appreciation page include -->
{% if site.data.supporters %}
<!-- benefactors -->
<div class="container">
    <a name="benefactors"></a><h2>Leadership Circle</h2>
    {% assign benefactors = site.data.supporters.benefactors | sort: 'sort' %}

    <p>
        The leadership circle recognizes those individuals and organizations that have provided
        exceptional support for the work of the National Recording Preservation Foundation
        since its founding.
        We are especially grateful for these leading contributors. 
    </p>

    <h3 class="donor-level">Gold Benefactors ($200,000+)</h3>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for benefactor in benefactors %}{% if benefactor.level == 'Gold' %}
            <li class="donor-entry">{{ benefactor.display_name }}{% if benefactor.show_year %} ({{ benefactor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

    <h3 class="donor-level">Silver Benefactors ($25,000+)</h3>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for benefactor in benefactors %}{% if benefactor.level == 'Silver' %}
            <li class="donor-entry">{{ benefactor.display_name }}{% if benefactor.show_year %} (since {{ benefactor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

    <h3 class="donor-level">Bronze Benefactors ($10,000+)</h3>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for benefactor in benefactors %}{% if benefactor.level == 'Bronze' %}
            <li class="donor-entry">{{ benefactor.display_name }}{% if benefactor.show_year %} (since {{ benefactor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

    <h3 class="donor-level">Copper Benefactors ($5,000+)</h3>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for benefactor in benefactors %}{% if benefactor.level == 'Copper' %}
            <li class="donor-entry">{{ benefactor.display_name }}{% if benefactor.show_year %} (since {{ benefactor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

</div>

<!-- annual donors -->
<div class="container">
    <a name="donors"></a><h2>Donors</h2>
    {% assign donors = site.data.supporters.donors | sort: 'sort' %}

    <p>Thank you to these individuals and organizations who have made donations in 2023 and 2024.</p>


    <h3 class="donor-level">Librarian&rsquo;s Circle ($7,500+)</h3><a name="librarians-circle"></a>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for donor in donors %}{% if donor.level == 'Librarian' %}
            <li class="donor-entry">{{ donor.display_name }}{% if donor.show_year %} ({{ donor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

<!-- hide if no donors at this level
    <h3 class="donor-level">Funders Circle ($5,000+)</h3><a name="funders-circle"></a>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for donor in donors %}{% if donor.level == 'Director' %}
            <li class="donor-entry">{{ donor.display_name }}{% if donor.show_year %} ({{ donor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>
-->

    <h3 class="donor-level">Directors Circle ($1,000+)</h3><a name="patrons"></a>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for donor in donors %}{% if donor.level == 'Patron' %}
            <li class="donor-entry">{{ donor.display_name }}{% if donor.show_year %} ({{ donor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

<!-- hide if no donors at this level 
    <h3 class="donor-level">Patrons ($500+)</h3><a name="patrons"></a>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for donor in donors %}{% if donor.level == 'Sustainer' %}
            <li class="donor-entry">{{ donor.display_name }}{% if donor.sustaining_donor %}<sup>&star;</sup>{% endif %}{% if donor.show_year %} ({{ donor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>
-->
    
    <h3 class="donor-level">Sustainers ($250+)</h3><a name="sustainers"></a>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for donor in donors %}{% if donor.level == 'Sustainer' %}
            <li class="donor-entry">{{ donor.display_name }}{% if donor.sustaining_donor %}<sup>&star;</sup>{% endif %}{% if donor.show_year %} ({{ donor.year }}){% endif %}</li>
            {% endif %}{% endfor %}
        </ul>
    </div>

    <h3 class="donor-level">Friends ($100+)</h3><a name="friends"></a>

        <div class="row">
            <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
            {% for donor in donors %}{% if donor.level == 'Friends' %}
            <li class="donor-entry">{{ donor.display_name }}</li>
            {% endif %}{% endfor %}
            </ul>
        </div> 
</div>

<!-- sustaining donors -->
<!--
<div class="container">
    <a name="sustaining-donors"></a><h2>Sustaining Donors: The Long Playing Society</h2>

    <p>
        The <em>Long Playing Society</em> (LPS) recognizes donors who have pledged a monthly gift of $50 or more. 
        LPS members are denoted above with a&nbsp;&star;&nbsp;mark.
        Members of the LPS provide consistent, monthly gifts that help to defray recurring costs of running the Foundation,
        as well as support for <a href="{% link _programs/nrpf-grants.md %}">NRPF grants</a> and other programs. 
    </p>

</div>
-->
<!-- supporters donors -->
<div class="container">
    <a name="supporters"></a><h2>Supporters</h2>
    {% assign supporters = site.data.supporters.supporters | sort: 'sort' %}

    <p>Thank you to these organizations and individuals who have provided in-kind or other support!</p>

    <div class="row">
        <ul class="donor-list" style="margin-left: 25px; margin-bottom: 50px; padding-left: 25px; line-height: 26px;">
        {% for supporter in supporters %}
        <li class="donor-entry">{% if supporter.url %}<a href="{{ supporter.url }}">{% endif %}{{ supporter.display_name }}{% if supporter.url %}</a>{% endif %}{% if supporter.service %} &ndash; {{ supporter.service }}{% endif %}</li>
        {% endfor %}
        </ul>
    </div> 

<!--    
    {% for supporter in supporters %}
    <p class="donor-entry">{% if supporter.url %}<a href="{{ supporter.url }}">{% endif %}{{ supporter.display_name }}{% if supporter.url %}</a>{% endif %}{% if supporter.service %} &ndash; {{ supporter.service }}{% endif %}</p>
    {% endfor %}
-->
</div>

{% endif %}