<!-- basic grants table -->
<div class="table">
  <table class="table table-striped table-hover mb-0">
    <thead>
      <tr>
        <th>Year</th>
        <th>Amount</th>
        <th>Project</th>
        <th>Recipient (Location)</th>
      </tr>
    </thead>
    {% for grant in grants %}
    <tr>
      <td>{{ grant.year }}</td>
      <td style="text-align: right;">{{ grant.amount }}</td>
      <td><a href="{{ grant.url | relative_url }}">{{ grant.title }}</a></td>
      <td>{{ grant.recipient }} ({{ grant.location }})</td>
    </tr>
    {% endfor %}
  </table>
</div>