<p>The National Recording Preservation Foundation (NRPF) is an 
independent, charitable organization and registered 501(c)(3) entity. 
The NRPF works across the United States to foster awareness of 
the diverse perspectives and communities documented in audio, 
to support the preservation of historical and at-risk audio collections, and 
to coordinate resources for the digital preservation of audio recordings. 
The NRPF was mandated through federal charter by the U.S. Congress 
under the National Recording Preservation Act of 2000
(Pub. L. 106-474) and was thereafter duly incorporated in 2010.</p>