<p>The National Recording Preservation Foundation (NRPF), a federally chartered corporation, is an 
independent, charitable organization. The NRPF works across the United States 
to foster awareness of the diverse perspectives and communities documented in audio, 
to support the preservation of historical and at-risk audio collections, and 
to coordinate resources for the digital preservation of audio recordings. 
The NRPF was created by the U.S. Congress through the National Recording Preservation Act of 2000
(Pub. L. 106-474) and was duly incorporated as a 501(c)3 organization in 2010.</p>