<p>The National Recording Preservation Foundation (NRPF), a federally chartered corporation, is a 
charitable, 501(c)3 non-profit organization. The NRPF works across the United States 
to foster awareness of the diverse perspectives and communities documented in audio, 
to support the preservation of historical and at-risk audio collections, and 
to coordinate resources for the digital preservation of audio recordings. 
The NRPF was founded through the National Recording Preservation Act of 2000.</p>