<!-- subscribe and donate row -->
  <div class="row calltoaction" style="background-color: #e9f7ff; margin: 25px 0; border-radius: 10px;">

    {% if site.data.contact.newsletter_link %}
    <!-- subscribe -->
      <div class="col-12 col-md-6 mb-3">
        <div class="calltoaction-summary subscribe" style="text-align: center;">
            <h2 class="calltoaction-title">
                <a name="newsletter"></a>
                Subscribe to Our Newsletter
            </h2>
            <p class="calltoaction-description">To receive updates on our latest news</p>

            <div class="calltoaction-button-wrapper">
                    <a class="calltoaction-button" href="{{ site.data.contact.newsletter_subscribe_page }}" class="button" style="text-decoration: none;"><span class="calltoaction-button-text">Subscribe</span></a>
            </div>

        </div>
      </div>
      {% endif %}

      <!-- donate! -->
      <div class="col-12 col-md-6 mb-3">
        <div class="calltoaction-summary donate" style="text-align: center;">
            <h2 class="calltoaction-title">
                <a name="donate"></a>
                Please Consider Donating
            </h2>
            <p class="calltoaction-description">Help support the work of the NRPF!</p>

            <div class="calltoaction-button-wrapper">
                <a class="calltoaction-button" href="{% if page.campaign_donate_link %}{{ page.campaign_donate_link }}{% else %}/donate/{% endif %}" class="button" style="text-decoration: none;"><span class="calltoaction-button-text">Donate Now</span></a>
            </div>

        </div>
      </div>
    
</div>