<!-- subscribe and donate row -->
  <div class="row calltoaction" style="background-color: #e9f7ff; margin-top: 25px; border-radius: 10px;">

    <!-- subscribe -->
      <div class="col-12 col-md-6 mb-3 d-flex justify-content-center">
        <div class="calltoaction-summary subscribe">
            <h2 class="calltoaction-title">
                <a name="newsletter"></a>
                Subscribe to Our Newsletter
            </h2>
            <p class="calltoaction-description">To receive updates on our latest news</p>

            <div class="calltoaction-button-wrapper">
                    <a class="calltoaction-button" href="TBD" class="button" style="text-decoration: none;"><span class="calltoaction-button-text">Subscribe</span></a>
            </div>

        </div>
      </div>

      <!-- donate! -->
      <div class="col-12 col-md-6 mb-3 d-flex justify-content-center">
        <div class="calltoaction-summary donate">
            <h2 class="calltoaction-title">
                <a name="donate"></a>
                Please Consider Donating
            </h2>
            <p class="calltoaction-description">Help support the work of the NRPF!</p>

            <div class="calltoaction-button-wrapper">
                <a class="calltoaction-button" href="/donate" class="button" style="text-decoration: none;"><span class="calltoaction-button-text">Donate Now</span></a>
            </div>

        </div>
      </div>
    
</div>