---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 order-2 order-md-1">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.date | date: "%B %e, %Y" }} | posted by {% if post.author_link == true %}<a href="/people/{{ post.author | slugify }}">{{ post.author }}</a>{% else %}{{ post.author }}{% endif %}</p>
            {% if post.teaser %}
            <p>{{ post.teaser }}</p>
            {% else %}
            <p>{{ post.content | markdownify | strip_html | truncate: 200 }}</p>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
