---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="{% if page.fullWidth %}col-12{% else %}col-12 col-md-8{% endif %}">
            <div class="post post-single">
                <h1 class="title">{{ page.title }}</h1>
                <div class="meta">
                    <p>Posted {{ page.date | date: "%B %e, %Y"}} by {{ page.author }}</p>
                    {% comment this categories list needs to be fixed %}
                    {% if page.categories %}
                      {% if page.categories.length == 1 %}
                      <p>Category: {% for category in page.categories %}{{ category }}&nbsp {% endfor %}</p>
                      {% else %}
                      <p class="FIXME">Categories: {% for category in page.categories %}{%- if forloop.length > 0 -%}{{ category }},&nbsp;{% unless forloop.last %}{{category}}.{% endunless -%}{%- endif -%}{% endfor %}</p>
                      {% endif %}                    
                    {% endif %}
                {% endcomment %}
                </div>
                <div class="content">
                    {{ content }}
                </div>

                <div class="previous-posts" style="padding-top: 25px;">
                <!-- other posts-->
                <hr />
                <h2>Other NRPF News</h2>
                  {% if page.next %}
                  <h3>Next</h3>
                  <p><a href="{{ page.next.url }}">{{ page.next.title }}</a> | {{ page.next.date | date: "%B %e, %Y" }}</p>
                  {% endif %}
                  {% if page.previous %}
                  <h3>Previous</h3>
                  <p><a href="{{ page.previous.url }}">{{ page.previous.title }}</a> | {{ page.previous.date | date: "%B %e, %Y" }}</p>
                  {% endif %}

                  <h3 class="link"><a href="{{ '/features/' | relative_url }}">All NRPF Features</a></h3>

                  <h3 class="link"><a href="{{ '/news/' | relative_url }}">All NRPF News</a></h3>

            </div>
            </div>
        </div>
    </div>
</div>