---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="post post-single">
                <h1 class="title">{{ page.title }}</h1>
                <div class="meta">
                    <p>Posted {{ page.date | date: "%B %e, %Y"}} by {{ page.author }}</p>
                    {% comment this categories list needs to be fixed %}
                    {% if page.categories %}
                      {% if page.categories.length == 1 %}
                      <p>Category: {% for category in page.categories %}{{ category }}&nbsp {% endfor %}</p>
                      {% else %}
                      <p class="FIXME">Categories: {% for category in page.categories %}{%- if forloop.length > 0 -%}{{ category }},&nbsp;{% unless forloop.last %}{{category}}.{% endunless -%}{%- endif -%}{% endfor %}</p>
                      {% endif %}                    
                    {% endif %}
                {% endcomment %}
                </div>
                <div class="content">{{ content }}</div>
              <h2 class="link"><a href="{{ "news" | relative_url }}">Return to NRPF News</a></h2>
            </div>
        </div>
    </div>
</div>