---
layout: default
bodyClass: "page-teams"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="team team-single">
        <h1 class="title">{{page.title}}</h1>

        <div class="page-teams team-summary-large">
          {% if page.image %}
          <div class="team-image">
            <img alt="{{ page.title }} image" class="img-fluid mb-2" style="float:left;" src="{{ page.image | relative_url }}" />
          </div>
          {% endif %}

          <div class="team-meta">
            <p class="team-description">{{ page.jobtitle }}</p>
          </div>
        </div>
        <p>&nbsp;</p>

        <div class="content">  
          {{ content }}

          {% if page.personal_url %}
          <p>Personal website: <a href="{{ page.personal_url }}" name="{{ page.title }} personal website">{{ page.personal_url }}</a></p>
          {% endif %}

          {% if page.linkedinurl %}
          <p>LinkedIn Profile: <a href="{{ page.linkedinurl }}" name="{{ page.title }} profile on LinkedIn">{{ page.linkedinurl }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
